<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" type="text/css" href="/static/css/button.css"/>
</head>
<body>

<form name="f" method="POST" action="/process_login">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

    <label for="username">Enter your login: </label>
    <input type="text" name="username" id="username"/>
    <br/>
    <label for="password">Enter your password: </label>
    <input type="password" name="password" id="password"/>
    <br/>
    <input class="btn" type="submit" value="LogIn"/>

    <div th:if="${param.error}" style="color: red">
        Wrong login or password
    </div>
</form>

<form action="/auth/registration">
    <input class="btn"  type="submit" value="Register" style="margin-top: 5px" />
</form>

</body>
</html>