<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search books</title>
    <link rel="stylesheet" type="text/css" href="/static/css/button.css"/>
</head>
<body>

<form th:method="POST" th:action="@{/books/search/result}">
    <label for="pattern">Enter the name of the book: </label>
    <br/>
    <input type="text" name="pattern" th:value="${pattern}" id="pattern"/>
    <br/>
    <input class="btn" type="submit" value="search" style="margin-top: 5px" />
</form>

</body>
</html>