<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" type="text/css" href="/static/css/header.css"/>
</head>

<body>
<div class="container">
    <h2>Library</h2>
    <div class="row">
        <div class="row-left">
            <div class="f">
                <button class="btn" onclick="document.location='/books'">Books</button>
            </div>
            <div class="f">
                <form method="GET" action="/people">
                    <input class="btn" type="submit" value="Clients"/>
                </form>
            </div>
        </div>
        <div class="row-right">
            <div th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
                <span th:case="${false}">
                    <form th:action="@{/auth/login}">
                        <input class="btn" type="submit" value="LogIn"/>
                    </form>
                </span>
                <span th:case="${true}">
                <form th:action="@{/logout}" th:method="POST">
                    <input class="btn" type="submit" value="LogOut"/>
                </form>
            </span>
            </div>
        </div>
    </div>
</div>
<div class="white-space"></div>

</body>
</html>